.login-card {
  padding: 16px;
  width: 50%
}

.login-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ion-input {
  width: 75%;
}
